.signup{  
  display: flex;
  align-items:center;
  justify-content: center;

  .signupForm{
    margin-top: 150px;
    box-shadow: 0px 3px 8px gray;
    border-radius: 0.5em;
    padding: 10px;
    .error{
      .error{
        color: red;
      }
    }
  }
}